venv/
.idea
chapter1/__pycache__
chapter2/__pycache__
chapter3/__pycache__
chapter4/__pycache__
chapter5/__pycache__
chapter6/__pycache__
chapter7/__pycache__
chapter8/__pycache__
chapter9/__pycache__
chapter10/__pycache__
chapter11/__pycache__
chapter12/__pycache__
chapter13/__pycache__
