venv/
.idea
Chapter1/__pycache__
Chapter1/__pycache__
Chapter2/__pycache__
Chapter3/__pycache__
Chapter4/__pycache__
Chapter5/__pycache__
Chapter6/__pycache__
Chapter7/__pycache__
Chapter8/__pycache__
Chapter9/__pycache__
Chapter10/__pycache__
Chapter11/__pycache__
Chapter12/__pycache__
Chapter13/__pycache__